<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[DemoApp003.Sudoku]DemoApp003.Sudoku.PuzzleLoader*,[DemoApp003.Sudoku]DemoApp003.Sudoku.SudokuSolver,[DemoApp003.Sudoku]DemoApp003.Sudoku.SudokuOrchestrator</Include>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
